@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Operator Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Operator Mono Bold'), url('fonts/OperatorMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Operator Mono Book';
    font-style: normal;
    font-weight: normal;
    src: local('Operator Mono Book'), url('fonts/OperatorMono-Book.woff') format('woff');
}

@font-face {
    font-family: 'Operator Mono Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Operator Mono Medium'), url('fonts/OperatorMono-Medium.woff') format('woff');

}

body {
    padding: 0;
    font-size: 18px;
    margin: 0;
    font-family: 'Operator Mono Book';
    scroll-behavior: smooth;
    line-height: 1.67;
}


body,
html {
    height: 100%;
    overflow-y: hidden;
}

.main-content {
    display: flex;
    height: 100%;
    margin: 60px 0 0 0;
}

.top-bar {
    top: 0;
}

.bottom-bar,
.top-bar {
    position: fixed;
    background-color: black;
    width: 100%;
}

.bottom-bar {
    background-color: rgb(85, 49, 119);
    bottom: 0;
}

.icons {
    display: flex;
}

.top-bar .icons div {
    color: #F3F3F3;
    margin: 1rem 1.5rem;
}

.icons div:hover {
    cursor: pointer;
}

.bottom-bar .icons a {
    color: #f3f3f3;
    margin: 0rem 1.5rem;
    font-size: 1rem;
}

.bottom-bar .icons a:hover {
    cursor: pointer;
}

.text-container {
    flex: 1;
    padding: 30px;
    border: 0;
    resize: none;
}


.text-container:focus {
    outline: none;
}

.preview {
    flex: 1;
    background-color: #F3F3F3;
    overflow-y: scroll;
    padding: 0 50px;
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
}

.preview,
.text-container {
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.preview h1,
h2,
h3 {
    opacity: 0.8;
}

.popup {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 90px;
    background: white;
    border-radius: 5px;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.show {
    transition: opacity 400ms;
    animation-timing-function: ease-out;
}

.hide {
    opacity: 0;
}

/* Table styling */

table {
    border-collapse: collapse;
    border-spacing: 0.0;
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}

td:last-child,
th:last-child {
    border-right: 0;
}

td {
    border-top: 1px solid #dcdcdc;
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}


/* code */

pre {
    background-color: rgb(219, 208, 230);
    padding: 1.5rem;
    border-radius: 1rem;
    /* opacity: 0.8; */
}