@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'Operator Mono Book';
    font-style: normal;
    font-weight: normal;
    src: local('Operator Mono Book'), url('fonts/OperatorMono-Book.woff') format('woff');
}

:root {
    --main-purle: rgb(85, 49, 119);

}

body {
    padding: 0;
    font-size: 18px;
    margin: 0;
    font-family: 'Operator Mono Book';
    scroll-behavior: smooth;
    line-height: 1.67;
}


body,
html {
    height: 100%;
    overflow-y: hidden;
}

h1 {
    font-weight: 800;
}


.main-content {
    display: flex;
    height: 100%;
    margin: 60px 0 0 0;
}

.top-bar {
    top: 0;
    box-shadow: -20px 20px 60px #d9d9d9,
        20px -20px 60px #ffffff;
}

.bottom-bar,
.top-bar {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    justify-content: space-between;
}

.bottom-bar {
    background-color: var(--main-purle);
    bottom: 0;
}

.icons {
    display: flex;
}

.top-bar .icons div {
    color: #F3F3F3;
    margin: 1rem 1.5rem;
}

.icons div:hover {
    cursor: pointer;
}

.bottom-bar .icons a {
    color: #f3f3f3;
    margin: 0.3rem 1.5rem;
    font-size: 0.8em;
}

.bottom-bar .icons a:hover {
    cursor: pointer;
}


/* dark mode toggle */
.site-props {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.mode-toggle {
    width: 45px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.mode-toggle:hover {
    cursor: pointer;
}


.circle-toggler {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    background-color: #f5d020;
    background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.crescent {
    position: absolute;
    border-radius: 100%;
    right: 0;
    width: 15px;
    height: 15px;
    background: white;
    transform: scale(0);
    transform-origin: top right;
    transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.checkbox:checked+.mode-toggle .circle-toggler {
    transform: translateX(25px);
    background-image: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}

.checkbox:checked+.mode-toggle .circle-toggler .crescent {
    transform: scale(1);
    background: #fff;
}

.dark {
    background: #26242E;
    box-shadow: -11px 11px 22px #201f27,
        11px -11px 22px #2c2935;
    color: #fff;
}

.dark-preview {
    background-color: rgb(48, 48, 56) !important;
    color: #fff;
}

.dark-code {
    background-color: rgb(73, 46, 100) !important;
}

.dark-popup {
    background: rgb(60, 59, 63) !important;
    box-shadow: 20px 20px 60px #201f27,
        -20px -20px 60px #2c2935 !important;
    color: #fff;
}

/* maiin content */
.text-container {
    margin: 0;
    padding: 2em;
    border: 0;
    resize: none;
    width: auto;
    float: left;
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    /* width: 100%; */
    /* align-items: flex-start; */
    /* display: inline-block; */
}

.text-container-wrapper {
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}



.text-container:focus {
    outline: none;
}

.preview {
    flex: 1;
    background-color: #F3F3F3;
    overflow-y: scroll;
    padding: 0 50px;
    font-family: Work Sans;
}

.preview,
.text-container {
    margin-bottom: 80px;
    padding-bottom: 60px;
}

.preview h1,
h2,
h3 {
    opacity: 0.8;
}

.popup {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 90px;
    background: white;
    border-radius: 5px;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.show {
    transition: opacity 400ms;
    animation-timing-function: ease-out;
}

.hide {
    opacity: 0;
}

/* Table styling */

table {
    border-collapse: collapse;
    border-spacing: 0.0;
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}

td:last-child,
th:last-child {
    border-right: 0;
}

td {
    border-top: 1px solid #dcdcdc;
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}


/* code */

pre {
    background-color: rgb(219, 208, 230);
    padding: 1.5rem;
    border-radius: 1rem;
    /* opacity: 0.8; */
}


/* styling scrollbar */

.preview::-webkit-scrollbar {
    width: 0.7em;
}

.preview::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.preview::-webkit-scrollbar-thumb {
    background-color: rgb(123, 87, 161);
    outline: 1px solid rgb(141, 108, 179);
    border-radius: 10px;
}

.text-container-wrapper::-webkit-scrollbar {
    width: 0.7em;
}

.text-container-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.text-container-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(145, 117, 175);
    outline: 1px solid rgb(141, 108, 179);
    border-radius: 10px;
}


/* Link Styles */

.preview a {
    color: rgb(167, 96, 243);
    font-weight: 600;
}


/* code linting */

/* 1. All headings starting of Line */

.heading {
    color: coral;
}